html {
    height: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}



.left-part {
    width: 35%;
    display: flex;
    position: relative;
    justify-content: center;
    min-width: 400px;

}

img {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    color: rgb(252, 252, 252) ;

}

footer > a {
    color: rgb(252, 252, 252) ;
}

.logo-container {
    width: 100%;
    height: 16%;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 95%;
    width: 25%;
    opacity:100;
}

.logo-legend{
    font-size: 6rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}






.right-part {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    
}

p {
    font-size: 1.5rem;
}

.upper-content {
margin-bottom: 50px;
padding-left:45px;
font-weight:bold;
color: rgb(29, 29, 29);

}




.middle-content {
    box-shadow: -5px 4px 4px  rgb(219, 219, 219);
    background-color: rgb(252, 252, 252);
    height: 30%;
    font-weight:bold;
    color: rgb(29, 29, 29);
    padding-left: 46px;
}


ul {
     /*Remove default list style*/
    list-style: none;
    padding: 0;
    margin: 0;
  }

.form-columns {
    display: flex;
}

.form-p {
    margin-bottom: 0;
}

form {
    display: flex;
    gap: 70px;
}

li{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    color: rgb(78, 78, 78);
    gap: 1px;
}

input {
    outline: none;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 1.7rem;
    width: 18rem;

}

input:focus {
    border-color: rgb(10, 87, 253);
    box-shadow: 3px 3px 3px  rgb(219, 219, 219);
}

input:invalid {
    border-color:red;
}

label#dont-match {
    color: red;
    font-size: 0.8rem;
    font-weight: normal;
}






.bottom-content {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 1rem;
    gap: 40px;
}


button {

    /*Remove default button style*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(6, 179, 179);
    font-weight: bold;
    color: whitesmoke;

}

a.log-in {
    font-weight: bold;
    color: rgb(4, 153, 153);
    text-decoration: none;
}
